<!-- Set Navbar -->
<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 m-4">
      <h1 class="fw-bold text-center p-3 mb-5">View All Employee</h1>
       
      <table class="table border p-2">
        <tr class="border text-center bg-black text-white ">
            
            <th>ID</th>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Department-Id</th>
            <th>Role-Id</th>
            <th></th>
            <th></th>
        </tr>
        <tr class="border" *ngFor="let employee of employeeList; let i=index">

            <td>{{"EMP00"+employee.emp_id}}</td>
            <td>{{employee.firstName+" "+employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td class="text-center">{{employee.dep_id}}</td>
            <td class="text-center">{{employee.role_id}}</td>
            <td class="text-center"><button type="button"  (click)="deleteEmployee(employee)" class="btn bg-danger mt-1 mb-1 "><i class="bi bi-trash3-fill"></i></button></td>
            <td class="text-center"><button type="button"  (click)="selectEmployee(employee)" class="btn bg-primary mt-1 mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
        </tr>

      </table>

    </div>
    <div class="col-2"></div>
  </div>
</div>

<!--Set Update Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class=" fw-bold text-center" id="exampleModalLabel">Update Employee Details</h1>
        
      </div>
      <div class="modal-body">
        
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label fw-bold">Employee Id:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectEmployeeObj.emp_id" [ngModelOptions]="{standalone: true}" disabled="">
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label fw-bold">First Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectEmployeeObj.firstName" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label fw-bold">Last Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectEmployeeObj.lastName" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label fw-bold">Email:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectEmployeeObj.email" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label fw-bold">Department-Id:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectEmployeeObj.dep_id" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label fw-bold">Role-Id:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="selectEmployeeObj.role_id" [ngModelOptions]="{standalone: true}">
          </div>
        
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" (click)="updateEmployee()">UPDATE</button>
      </div>
    </div>
  </div>
</div>
